.receivedProduct {
   padding: 15px;
   border-bottom: 1px solid;
   border-top: 1px solid;
   overflow: hidden;
   margin-bottom: 15px;
}
.price {
   margin-left: 15px;
   float: right;
   margin-top: 50px;
}
.remove {
   float: right;
}
.name {
   float: left;
   margin-top: 50px;
}